<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glidden"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/glidden_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.example.glidden.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.glidden.ShoppingActivity"
            android:label="@string/title_activity_shopping" >
        </activity>
        <activity
            android:name="com.example.glidden.SuppliesActivity"
            android:label="@string/title_activity_supplies" >
        </activity>
        <activity
            android:name="com.example.glidden.Traditional"
            android:label="@string/title_activity_supplies" >
        </activity>
        <activity
            android:name="com.example.glidden.WoodenSideProject"
            android:label="@string/title_activity_supplies" >
        </activity>
        <activity
            android:name="com.example.glidden.PaintingActivity"
            android:label="@string/title_activity_painting" >
        </activity>
        <activity
            android:name="com.example.glidden.DescriptionFragment"
            android:label="@string/title_activity_description_fragment" >
        </activity>
        <activity
            android:name="com.example.glidden.ShoppingFragment"
            android:label="@string/title_activity_shopping_fragment" >
        </activity>
        <activity
            android:name="com.example.glidden.DirectionsFragment"
            android:label="@string/title_activity_directions_fragment" >
        </activity>
        <activity
            android:name="com.example.glidden.Modern"
            android:label="@string/title_activity_modern" >
        </activity>
        <activity
            android:name="com.example.glidden.Cottage"
            android:label="@string/title_activity_cottage" >
        </activity>
        <activity
            android:name="com.example.glidden.Eclectic"
            android:label="@string/title_activity_eclectic" >
        </activity>
        <activity
            android:name="com.example.glidden.FireplaceMantel"
            android:label="@string/title_activity_fireplace_mantel" >
        </activity>
    </application>

</manifest>